In [1]:
library('tidyverse')

Warning message:
“Failed to locate timezone database”
── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.3     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.3     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [2]:
df.marathon = read.csv('../data/marathon.csv')
df.marathon |> head()

  year name                       country       time       race.time MF
1 2019 Lawrence Cherono           Kenya         2H 7M 57S  2.132500  Men's
2 2018 Yuki Kawauchi              Japan         2H 15M 58S 2.266111  Men's
3 2017 Geoffrey Kirui             Kenya         2H 9M 37S  2.160278  Men's
4 2016 Lemi Berhanu               Ethiopia      2H 12M 45S 2.212500  Men's
5 2015 Lelisa Desisa              Ethiopia      2H 9M 17S  2.154722  Men's
6 2014 Mebrahtom "Meb" Keflezighi United States 2H 8M 37S  2.143611  Men's
  country.simple
1 Kenya
2 Japan
3 Kenya
4 Ethiopia
5 Ethiopia
6 United States

# Filter

- the filter operation does exactly what you expect given its name.

In [3]:
# e.g.

iris |> filter(Species == 'setosa', Petal.Width > 0.2)

   Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1  5.4          3.9         1.7          0.4         setosa
2  4.6          3.4         1.4          0.3         setosa
3  5.7          4.4         1.5          0.4         setosa
4  5.4          3.9         1.3          0.4         setosa
5  5.1          3.5         1.4          0.3         setosa
6  5.7          3.8         1.7          0.3         setosa
7  5.1          3.8         1.5          0.3         setosa
8  5.1          3.7         1.5          0.4         setosa
9  5.1          3.3         1.7          0.5         setosa
10 5.0          3.4         1.6          0.4         setosa
11 5.4          3.4         1.5          0.4         setosa
12 5.0          3.5         1.3          0.3         setosa
13 4.5          2.3         1.3          0.3         setosa
14 5.0          3.5         1.6          0.6         setosa
15 5.1          3.8         1.9          0.4         setosa
16 4.8          3.0         1.4          0.3         setosa

- The syntax for the `equals` operator in R is `==`.
- Greater than (`>` or `>=`) and less than (`<` or `<=`) are intuitive.
- You can fitler on multiple columns by adding arguments to the filter operation.

Filter the marathon data to just the runners from Kenya.

In [5]:
df.marathon |>
    filter(country == 'Kenya') |>
    head()

  year name                      country time       race.time MF
1 2019 Lawrence Cherono          Kenya   2H 7M 57S  2.132500  Men's
2 2017 Geoffrey Kirui            Kenya   2H 9M 37S  2.160278  Men's
3 2012 Wesley Korir              Kenya   2H 12M 40S 2.211111  Men's
4 2011 Geoffrey Mutai            Kenya   2H 3M 2S   2.050556  Men's
5 2010 Robert Kiprono Cheruiyot  Kenya   2H 5M 52S  2.097778  Men's
6 2008 Robert Kipkoech Cheruiyot Kenya   2H 7M 46S  2.129444  Men's
  country.simple
1 Kenya
2 Kenya
3 Kenya
4 Kenya
5 Kenya
6 Kenya

# Select

- select let's you include/exclude columns.

In [6]:
# e.g.

iris |> select(Species, Sepal.Length) |> head()

  Species Sepal.Length
1 setosa  5.1
2 setosa  4.9
3 setosa  4.7
4 setosa  4.6
5 setosa  5.0
6 setosa  5.4

Select just the columns that represent runner names and country from the marathon data.

In [7]:
df.marathon |>
    select(name, country) |>
    head()

  name                       country
1 Lawrence Cherono           Kenya
2 Yuki Kawauchi              Japan
3 Geoffrey Kirui             Kenya
4 Lemi Berhanu               Ethiopia
5 Lelisa Desisa              Ethiopia
6 Mebrahtom "Meb" Keflezighi United States

# Putting it all together

Use `group_by`, `filter`, and `summarize` to show the best race times for US and Kenyan women runners. (*Hint: use the `%in%` operator to filter by two values for one column*). Fill in the missing pieces below:

In [12]:
df.marathon |>
    filter(MF == "Women's", country %in% c('United States', 'Kenya')) |>
    group_by(country) |>
    summarize(best.race.time = min(time))

  country       best.race.time
1 Kenya         2H 20M 43S
2 United States 2H 22M 43S

Use `filter`, `select`, `head`, and `arrange` to show the best women's race times in the data and the country of the runners. Fill in the missing pieces below:

In [20]:
df.marathon |>
    filter(MF == "Women's") |>
    select(country, time) |>
    slice_min(order_by = time, n = 10) |>
    arrange(time)

   country       time
1  Ethiopia      2H 19M 59S
2  Kenya         2H 20M 43S
3  Germany       2H 21M 45S
4  Kenya         2H 21M 52S
5  Kenya         2H 22M 36S
6  United States 2H 22M 43S
7  Ethiopia      2H 23M 21S
8  Ethiopia      2H 23M 25S
9  Ethiopia      2H 23M 31S
10 Kenya         2H 23M 38S

What's the best race time ever for a US man?

In [16]:
df.marathon |>
    filter(MF == "Men's", country %in% c('United States')) |>
    summarize(best.race.time = min(time))

  best.race.time
1 2H 10M 13S

How does the best US men's time compare the the best race time in the data overall?

In [17]:
df.marathon |>
    summarize(best.race.time = min(time))

  best.race.time
1 2H 10M 11S

# Bonus

For all countries with at least 5 winners in the men's category, which country has the best median race time in the men's category? (*Hint: use the `n()` function to count the winners by country.)

In [7]:
# This should get you started. It adds a column "N.winners" that represents the
# total winners from the runner's country.

df.marathon |>
    filter(MF == "Men's") |>
    group_by(country) |>
    mutate(N.winners = n()) |> 
    head()

  year name                       country       time       race.time MF
1 2019 Lawrence Cherono           Kenya         2H 7M 57S  2.132500  Men's
2 2018 Yuki Kawauchi              Japan         2H 15M 58S 2.266111  Men's
3 2017 Geoffrey Kirui             Kenya         2H 9M 37S  2.160278  Men's
4 2016 Lemi Berhanu               Ethiopia      2H 12M 45S 2.212500  Men's
5 2015 Lelisa Desisa              Ethiopia      2H 9M 17S  2.154722  Men's
6 2014 Mebrahtom "Meb" Keflezighi United States 2H 8M 37S  2.143611  Men's
  country.simple N.winners
1 Kenya          22
2 Japan           9
3 Kenya          22
4 Ethiopia        6
5 Ethiopia        6
6 United States  44